In [2]:
import pandas as pd

datapath = '../LPOINT_BIG_COMP/'
demo = pd.DataFrame(pd.read_csv(datapath+'LPOINT_BIG_COMP_01_DEMO.csv')).sort_values('cust') #고객 데모, 29913 rows, 중복x
pdde = pd.DataFrame(pd.read_csv(datapath+'LPOINT_BIG_COMP_02_PDDE.csv')).sort_values('cust')  #상품 구매정보, 중복 o
# copu = pd.DataFrame(pd.read_csv(datapath+'LPOINT_BIG_COMP_03_COP_U.csv')).sort_values('cust')  #제휴사 이용정보, 중복x
pdcl = pd.DataFrame(pd.read_csv(datapath+'LPOINT_BIG_COMP_04_PD_CLAC.csv')) #상품 분류정보
br = pd.DataFrame(pd.read_csv(datapath+'LPOINT_BIG_COMP_05_BR.csv'))  #점포정보
# lpay = pd.DataFrame(pd.read_csv(datapath+'LPOINT_BIG_COMP_06_LPAY.csv')).sort_values('cust').rename(columns={'rct_no' : 'lpay_rct_no'})  #엘페이 이용, 중복x

C:\Users\jh_r_\AppData\Local\Temp\ipykernel_4832\1888109994.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  pdde = pd.DataFrame(pd.read_csv(datapath+'LPOINT_BIG_COMP_02_PDDE.csv')).sort_values('cust')  #상품 구매정보, 중복 o

In [3]:
tbl_pdde = pdde
tbl_pd_clac = pdcl

In [4]:
cust_id = 'M035502859'
cust_tmp = pd.merge(left=tbl_pdde[tbl_pdde.cust == cust_id], right=tbl_pd_clac, on='pd_c')
list_pd = cust_tmp.groupby('rct_no')['pd_nm'].apply(list) #같은 영수증
dataset = list(list_pd)

In [5]:
cust_tmp # cust id에 해당하는 고객의 구매 내역

,cust,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,buy_ct,pd_nm,clac_hlv_nm,clac_mcls_nm
0,M035502859,A01349567845,1,A01,A010014,PD0772,20210916,20,79000.0,1,남성등산바지,스포츠패션,남성등산/아웃도어의류
1,M035502859,A01349567845,1,A01,A010014,PD0772,20210916,20,79000.0,1,남성등산바지,스포츠패션,남성등산/아웃도어의류
2,M035502859,A01349567845,1,A01,A010014,PD0772,20210916,20,79000.0,1,남성등산바지,스포츠패션,남성등산/아웃도어의류
3,M035502859,A01349567845,1,A01,A010014,PD0772,20210916,20,77000.0,1,남성등산바지,스포츠패션,남성등산/아웃도어의류
4,M035502859,A01344028118,1,A01,A010004,PD1684,20210912,16,5000.0,2,양식,테넌트/음식점,식당
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,M035502859,A01169002981,1,A01,A010014,PD1094,20210507,17,99000.0,1,남아바지,유아동의류,남아의류하의
370,M035502859,A01153798763,1,A01,A010045,PD1769,20210428,16,70800.0,1,여성가방액세서리,패션잡화,여성가방
371,M035502859,A01334213747,1,A01,A010066,PD0038,20210905,18,279000.0,1,혼합즙,건강식품,건강진액
372,M035502859,A04033453284,1,A04,A043744,PD0332,20210502,21,4800.0,1,컵아이스크림,냉동식품,아이스크림
373,M035502859,A01018289906,1,A01,A010014,PD0768,20210117,18,258000.0,1,남성골프의류세트,스포츠패션,남성골프의류

In [19]:
import itertools
s = list(itertools.chain(*dataset))
len(s)

374

In [8]:
dataset #해당 고객이 구매한 상품의 소분류
cust_num = len(dataset) #구매 횟수

In [9]:
cust_num

247